<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<key>items</key>

		<array>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>com.p2kdev.spotbetter</string>
				<key>key</key>
				<string>clearResults</string>
				<key>label</key>
				<string>Clear Results on Dismiss</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>com.p2kdev.spotbetter</string>
				<key>key</key>
				<string>clearRecentSearches</string>
				<key>label</key>
				<string>Hide Recent Searches</string>
			</dict>				

			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>com.p2kdev.spotbetter</string>
				<key>key</key>
				<string>disableActionCards</string>
				<key>label</key>
				<string>Disable Suggestions</string>
			</dict>	

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Specify Pinned Apps</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkListCell</string>
				<key>label</key>
				<string>Select Apps...</string>
				<key>detail</key>
				<string>SpotBetterAppSelectorController</string>
				<key>defaults</key>
				<string>com.p2kdev.spotbetter</string>
				<key>key</key>
				<string>pinnedApps</string>
			</dict>			

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>label</key>
				<string>Apply Changes(Kill Spotlight)</string>
				<key>action</key>
				<string>killSpotlight</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Support</string>
				<key>footerText</key>
				<string>Wish to donate? Donation link found on my twitter bio. Please click the above link to visit my twitter profile!</string>
			</dict>


			<dict>
				<key>action</key>
				<string>visitTwitter</string>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>label</key>
				<string>Follow me on Twitter @p2kdev</string>
				<key>icon</key>
				<string>twitter.png</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerAlignment</key>
				<integer>1</integer>
				<key>footerText</key>
				<string>© 2020 P2kDev (@p2kdev)</string>
			</dict>

	</array>

	<key>title</key>
	<string>SpotBetter</string>
</dict>
</plist>
